.account__subtitle {
    width: 358px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 15px auto 0;
    text-decoration: none;
    display: block;
}

.account__subtitle:hover {
    opacity: 0.6;
    cursor: pointer;
}