.header__user-email {
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}